@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: -webkit-fill-available;
}


body {
  @apply bg-gray-700 font-body h-screen text-gray-100;
  height: -webkit-fill-available;
  text-rendering: optimizeLegibility;
}


@screen dark {
  body {
    @apply bg-darkness text-gray-500;
  }
}



/* Utilities
   ========= */

.min-h-screen-alt {
  @apply min-h-screen;
  min-height: -webkit-fill-available;
}


.number-display { max-width: 88vw }
.number-display > div { padding-top: 2px }


.underline-thick {
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}



/* Forms
   ----- */

input::placeholder,
textarea::placeholder {
  @apply text-gray-400 opacity-75;
}


input:-moz-ui-invalid,
textarea:-moz-ui-invalid {
  @apply border-pink outline-none shadow-none;
}


input:user-invalid,
textarea:user-invalid {
  @apply border-pink outline-none shadow-none;
}


input:focus,
textarea:focus {
  @apply border-gray-300;
}


@screen dark {
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-300 opacity-75;
  }

  input:user-invalid,
  textarea:user-invalid {
    @apply border-pink-shade;
  }
}
