@charset "UTF-8";

@import "@fission-suite/kit/fonts/body/fontface.css";
@import "@fission-suite/kit/fonts/display/fontface.css";
@import "@fission-suite/kit/fonts/mono/fontface.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: -webkit-fill-available;
}


body {
  @apply bg-base-100 font-body h-screen text-base-700;
  height: -webkit-fill-available;
  text-rendering: optimizeLegibility;
}


@screen dark {
  body {
    @apply bg-base-900 text-base-300;
  }
}


p.inline:not(:last-child):after {
  content: " ";
}



/* Utilities
   ========= */

.min-h-screen-alt {
  @apply min-h-screen;
  min-height: -webkit-fill-available;
}


.number-display { max-width: 88vw }
.number-display > div { padding-top: 2px }


.underline-thick {
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}



/* Forms
   ----- */

input::placeholder,
textarea::placeholder {
  @apply text-base-400 opacity-75;
}


input:-moz-ui-invalid,
textarea:-moz-ui-invalid {
  @apply border-pink outline-none shadow-none;
}


input:user-invalid,
textarea:user-invalid {
  @apply border-pink outline-none shadow-none;
}


input:focus,
textarea:focus {
  @apply border-base-500;
}


@screen dark {
  input::placeholder,
  textarea::placeholder {
    @apply text-base-500 opacity-75;
  }

  input:user-invalid,
  textarea:user-invalid {
    @apply border-pink-shade;
  }
}
